* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

body {
    background: #fd8a17
}

.container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    min-width: 70vw;
    min-height: 70vh;
    background-color: white;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: 30px;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 40px;
    border: 3px solid rgb(0, 0, 0);
    margin: 30px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

.title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
}

.subtitle {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}

.nav-button {
    display: block;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 25px;
    margin: 10px;
    padding: 15px 20px;
    width: 40%;
}

.nav-button:hover {
    transition: 0.5s;
    transform: scale(1.1, 1.1);
}