body {
    background: linear-gradient(90deg, rgba(94,94,94,1) 0%, rgba(226,226,226,1) 14%, rgba(255,255,255,1) 33%,
     rgba(253,253,253,1) 78%, rgba(220,220,220,1) 89%, rgba(98,98,98,1) 100%);
    font-family: monospace;
    font-size: 20px;
}

section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#divPerso {
    width: 800px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 40px;
}

div#resposta {
    position: relative;
    left: 550px;
    height: 50px;
    width: 400px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100px;
    text-align: center;
}

p {
    position: relative;
    bottom: 8px; 
    font: bold 20px monospace;
    color: rgb(0, 0, 0);   
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font: bolder;
}


a:link {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(127, 110, 255);
    background-color: black;
    border: 2px solid rgb(127, 110, 255);
    transition: 0.5s;
    transform: scale(1.1, 1.1);
}

#usersList {
    color: white;
}

li {
    text-align: left;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    width: 710px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}

#produtosList {
    color: white;
}

button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 8px 12px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 20px;
}

button:hover {
    color: rgb(127, 110, 255);
    background-color: black;
    border: 2px solid rgb(127, 110, 255);
    transition: 0.5s;
    border-radius: 15px;
    font-size: 20px;
    transform: scale(1.1, 1.1);
}