body {
    background: linear-gradient(90deg, rgba(94,94,94,1) 0%, rgba(226,226,226,1) 14%, rgba(255,255,255,1) 33%,
     rgba(253,253,253,1) 78%, rgba(220,220,220,1) 89%, rgba(98,98,98,1) 100%);
    font-family: monospace;
    font-size: 20px;
}

section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

div {   
    width: 950px;
    height: 600px;
    margin-top: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 40px;
}

div#produto {
    position: relative;
    left: 500px;
    bottom: 405px;   
    width: 370px;
    height: 350px;
    border-radius: 80px;
    border: 3px solid rgb(0, 0, 0);
}

div#usuario {
    margin-left: 70px;  
    width: 370px;
    height: 350px;
    border-radius: 80px;
    border: 3px solid rgb(0, 0, 0);
}

h1 {
    color:rgb(0, 0, 0);
    font-size: 42px;
    font: bolder;
}

h2 {
    color:rgb(0, 0, 0);
    font-size: 35px;
}

a:link {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;

}

a:visited {
    color: white;
}

a:hover {
    color: rgb(127, 110, 255);
    background-color: black;
    border: 2px solid rgb(127, 110, 255);
    transition: 0.5s;
    transform: scale(1.1, 1.1);
}